<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Мои книги</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
            	<div class="text-secondary text-center font-weight-bold my-3"> 
	            	<a class="text-secondary text-decoration-none" href="{%url 'p_library:library'%}">Библиотека</a> | 
                    <a class="text-secondary text-decoration-none" href="{%url 'p_library:author_list'%}">Авторы</a> | 
	            	<a class="text-secondary text-decoration-none" href="{%url 'p_library:publisher_list'%}">Издательства</a> | 
                    <a class="text-secondary text-decoration-none" href="{%url 'p_library:friend_list'%}">Друзья</a>
            	</div>
                <h2 class="text-secondary text-center my-3">Список книг:</h2>
                <table class="table table-dark table-stripped table-hover">
                    {% for book in object_list %}
                    <tr class="table-bordered">
                        <td style="width:20px;">{{ forloop.counter }}</td>
                        <td>{{ book.title }}</td>
                        <td style="width:20px;text-align:right;"><a class="btn btn-warning" href="{%url 'p_library:book_update' book.id %}">Изменить</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-success my-3" href="{%url 'p_library:book_create'%}">Добавить книгу</a>
            </div>
        </div>  
    </div>
</body>
</html>
